
<div class="example-container" 
[class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button 
    (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
    <h1 class="example-app-name">Jeu d'équipe</h1>
    <button 
    class="nombreDeJoueurs"
    mat-icon-button color="accent"
    (click)="checkValues()">
    {{presences?.length}}
  </button>
  </mat-toolbar>

  <mat-sidenav-container 
  class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav 
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches" 
    fixedTopGap="56">
      
        <app-basic-info></app-basic-info>

    </mat-sidenav>

    <mat-sidenav-content class="main-content">

      <div class="masterDiv" *ngIf="!intoTheLoby">
        Le maître du jeu est : {{master}}
      </div>

      <button mat-raised-button color="accent" class="center"
      *ngIf="!intoTheLoby"
      (click)="lancerLeJeu()">Lancer Le Jeu</button>
      
      <button mat-raised-button color="accent" class="center"
      *ngIf="!intoTheLoby"
      (click)="updateAuteur()">Cliquez pour devenir le maître du jeu</button>
<!-- 
      <button mat-raised-button color="warn" class="center"
      *ngIf="!intoTheLoby"
      (click)="checkValues()">Paramètre</button>
       -->
      
  <!--     <button mat-raised-button color="primary"  class="center"
      *ngIf="!intoTheLoby"
      (click)="deleteAll()">Delete All</button> -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>





